body
{
	background-color : black ; 
	margin : 0;
	/*background-image : url('img/body.jpg');
	background-repeat : no-repeat;
	background-size : cover;*/
}

#wrapper
{
	background-color : black ;
	background-image : url('img/bg.jpg') ;
	width : 1000px;
	margin-left : auto;
	margin-right : auto;
}

.header
{
	/* background-color : #02125a; */
	width : 1000px;
	height : 300px;
	margin : 0;
	text-align : center;
}

#logo
{
	padding-top : 80px;
	padding-right : 500px;
	
}

#logo img
{
	height: 48px;
    width: 260px;
    margin: 15px 0;
     -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

#logo a
{
	border : none;
}

#menu
{
	width : 1000px ;
	height : 40px;
	background-color : #717171;
	margin-left : auto;
	margin-right : auto;
	border-bottom-left-radius : 15px;
	border-bottom-right-radius : 15px;
	-moz-border-radius-bottomleft : 15px;
	-moz-border-radius-bottomright : 15px;
	opacity : 0.5;
	padding-top : 0;
	text-align : center;
}

.nav
{
	width : 150px ;
	height : 40px ;
	display : inline ;
	float : left ;
	text-align : center;
	font-size : 17px;
	font-family : purista-web,sans-serif;
	letter-spacing : 0px;
	text-transform : uppercase;
	background-color : #717171;
}

.nav:hover
{
	background-color : #d7620c;
	transition : all 0.1s ease-in-out 0s ;
}

#buy
{
	background-image : url('img/buy.png');
	background-repeat : no-repeat;
	background-size : cover;
	background-position : center;
}

#buy:hover
{
	background-image : url('img/buyh.png');
	background-repeat : no-repeat;
	background-size : cover;
	background-position : center;
	transition : all 0.1s ease-in-out 0s ;
	box-shadow : 0pt 0pt 10px rgb(224, 244, 248);
}

#menu:hover
{
	opacity : 0.8;
	transition : all 0.7s ease-in-out 0s ;
}

.nav p { margin-top: 10px; font-weight : bold; color : white;}

#fnav { margin-left : 50px; }
a { text-decoration : none; }

a
{
	text-decoration : none;
	color : white;
}

li a:hover
{
	color : rgb(255, 153, 0);
	transition : all 0.1s ease-in-out 0s ;
}

#gallery
{
	width : 1000px;
	height : 150px;
	margin-top : 10px;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius : 15px;
	
}

#g-left
{
	float : left;
}

#g-right
{
	float : right;
}

.media
{
	background-color : #717171;
	float : left;
	width : 150px;
	height : 150px;
	margin-left : auto;
	margin-right : 45px;
	text-align : center;
	opacity : 0.5;
	border: 5px solid #eee;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.media:hover 
{
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  opacity : 1;
}

#mediader
{
	background-color : #717171;
	float : right;
	width : 150px;
	height : 150px;
	margin-left : auto;
	margin-right : 0;
	text-align : center;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius : 15px;
	opacity : 0.5;
	border: 5px solid #eee;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#mediader:hover 
{
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  opacity : 1;
}

.media img
{
	width : 150px;
	height : 150px;
	border-radius : 15px;
}

#mediader img
{
	width : 150px;
	height : 150px;
	border-radius : 15px;
}

.media:after
{
	content : ".";
	display : block;
	height : 0;
	visibility : hidden;
	clear : both;

}

#main
{
	margin-bottom : 20px;
}

.content
{
	background-color : #717171;
	width : 775px;
	height : 500px;
	/*margin-left : 15px;*/
	margin-top : 30px;
	margin-bottom : 20px;
	float : left;
	opacity : .3;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius : 15px;
}

.content:hover
{
	opacity : .8;
	transition : all 0.7s ease-in-out 0s ;
}

#main h2
{
	text-align : center;
}

#main p
{
	padding-left : 10px;
}

p
{
	font-size : 1.1em;
}

#main .content iframe
{
	float : right;
	padding-right : 10px;
	padding-left : 10px;
	padding-top : 10px;
}

.sidebar
{
	background-color : #717171;
	width : 215px;
	height : 500px;
	margin-left : 10px;
	margin-top : 30px;
	margin-bottom : 20px;
	float : right;
	opacity : .3;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius : 15px;
}

.sidebar:hover
{
	opacity : .8;
	transition : all 0.7s ease-in-out 0s ;
}

.sidebar>p
{
	margin-top : 0;
	padding-top : 15px;
	padding-left : 10px;
	color : #fff;
	font-weight : bold;
	height : 20px;
	font-size : 25px;
	white-space : pre;
}

.sidebar a #ast
{
	padding-top : 10px;
}

.sidebar a:hover
{
	text-decoration : underline;
}

dt
{
	text-decoration : underline;
}

dl
{
	border-bottom : solid #555 1px;
}

dd
{
	margin-top : 2px;
}

#news
{
	width : 170px;
	margin-left : 10px;
	padding : 5px;
	background-color : #ccc;
	font-size : 1em;
	color : black;
}

#news a
{
	color : black;
	text-decoration : none;
}

#news a:hover
{
	color : grey;
}

#footer
{
	text-align : center;
	background-color : #717171;
	width : 1000px;
	height : 220px;
	margin : 0;
	opacity : .3;
	border-top-left-radius : 15px;
	border-top-right-radius : 15px;
	clear : both;
}



#footer img
{
	width : 175px;
	margin-left : 25px;
	border-top-left-radius : 15px;
	-moz-border-radius-topleft : 15px;
}

#footer:hover
{
	opacity : .8;
	transition : all 0.7s ease-in-out 0s ;
}

#fb
{
	width : 175px;
	height : 175px;
	float : right; 
	margin-right : 0px;
	background-image : url('img/fbh.png');
	background-repeat : no-repeat;
	background-size : cover;
	background-position : center;
	display : inline ;
}

#fb:hover { background-image : url('img/fb.png'); }

#footer a
{
	color : black;
}

#footer a:hover
{
	text-decoration : underline;
}


#footer span
{
	font-size : 1.1em;
	border-right : solid black 1px;
	padding-right: 1em;
}

#footer span:last-child
{
	border : none;
	padding-left : 0.8em;
}
